<h1>Plan your wedding</h1>


<form asp-action="CreateWedding" asp-controller="Wedding" method="POST">
        <div class="form-group">
            <span asp-validation-for=""></span>
            <label asp-for=""></label>
            <input type="number" asp-for="">
        </div>
         <div class="form-group">
            <span asp-validation-for=""></span>
            <label asp-for=""></label>
            <input type="number" asp-for="">
        </div>
         <div class="form-group">
            <span asp-validation-for=""></span>
            <label asp-for=""></label>
            <input type="number" asp-for="">
        </div>
         <div class="form-group">
            <span asp-validation-for=""></span>
            <label asp-for=""></label>
            <input type="number" asp-for="">
        </div>

</form>