

@model OneToManyExample.Models.IndexView

<h1>Their Albums</h1>

<table class="table table-hover">

    <thead>
        <tr>
            <th>Album Title</th>
            <th>Release Year</th>
        </tr>
    </thead>
    <tbody>
          @foreach(var album in Model.newArtist.Albums)
            {
                <tr> 
                    <td>@album.name</td>
                    <td>@album.release_date.ToString("D")</td>
                </tr>
            
            }
    </tbody>

</table>
    
<h2>Add albums to Artist</h2>
<form asp-action="CreateAlbum" asp-controller="Home">
    <div class="form-group">
        <span asp-validation-for="newAlbum.name"></span>
        <label asp-for="newAlbum.name"></label>
        <input asp-for="newAlbum.name" class="form-control">
    </div>
    <div class="form-group">
        <span asp-validation-for="newAlbum.release_date"></span>
        <label asp-for="newAlbum.release_date"></label>
        <input asp-for="newAlbum.release_date" class="form-control">
    </div>
    <input type="hidden" asp-for="newAlbum.artist_id" value="@Model.newArtist.artist_id">
    
    <input type="submit" value="Add album!">
</form>